In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [33]:
pos = pd.read_csv("playerStats.csv")

In [34]:
pos

,Team,JerseyNo,Player,Position,Apearances,Substitutions,Goals,Penalties,YellowCards,RedCards
0,Arsenal,7,Bukayo Saka,Defender/Midfielder,40,3,12,2,6.0,0.0
1,Arsenal,6,Gabriel,Defender,37,1,5,0,7.0,1.0
2,Arsenal,32,Aaron Ramsdale,Goalkeeper,37,0,0,0,1.0,0.0
3,Arsenal,4,Ben White,Defender,37,0,0,0,3.0,0.0
4,Arsenal,8,Martin Odegaard,Midfielder,36,4,7,0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...
618,Wolverhampton Wanderers,21,John Ruddy,Goalkeeper,5,1,0,0,0.0,0.0
619,Wolverhampton Wanderers,27,Romain Saïss,Defender/Midfielder,32,0,3,0,6.0,0.0
620,Wolverhampton Wanderers,24,Tote Gomes,Defender,5,0,0,0,1.0,0.0
621,Wolverhampton Wanderers,37,Adama Traoré,Midfielder/Forward,11,12,1,0,0.0,0.0
622,Wolverhampton Wanderers,11,Trincão,Midfielder/Forward,16,14,3,0,0.0,0.0

In [35]:
pos = pos[["Player", "Position", "Apearances", "Substitutions", "Goals", "Penalties"]]

In [36]:
pos

,Player,Position,Apearances,Substitutions,Goals,Penalties
0,Bukayo Saka,Defender/Midfielder,40,3,12,2
1,Gabriel,Defender,37,1,5,0
2,Aaron Ramsdale,Goalkeeper,37,0,0,0
3,Ben White,Defender,37,0,0,0
4,Martin Odegaard,Midfielder,36,4,7,0
...,...,...,...,...,...,...
618,John Ruddy,Goalkeeper,5,1,0,0
619,Romain Saïss,Defender/Midfielder,32,0,3,0
620,Tote Gomes,Defender,5,0,0,0
621,Adama Traoré,Midfielder/Forward,11,12,1,0
622,Trincão,Midfielder/Forward,16,14,3,0

In [37]:
topScorers = pd.read_csv("topScorers.csv")

In [38]:
topScorers

,№,Player,Team,Apps,Min,G,A,xG,xA,xG90,xA90
0,1,Son Heung-Min,Tottenham,35,3051,23,7,16.99-6.01,7.85+0.85,0.50,0.23
1,2,Mohamed Salah,Liverpool,35,2757,23,13,24.36+1.36,9.79-3.21,0.80,0.32
2,3,Cristiano Ronaldo,Manchester United,30,2468,18,3,17.21-0.79,4.42+1.42,0.63,0.16
3,4,Harry Kane,Tottenham,37,3229,17,9,20.69+3.69,9.82+0.82,0.58,0.27
4,5,Sadio Mané,Liverpool,34,2833,16,2,16.83+0.83,5.27+3.27,0.53,0.17
...,...,...,...,...,...,...,...,...,...,...,...
532,533,Chiquinho,Wolverhampton Wanderers,8,191,0,3,0.56+0.56,1.09-1.91,0.26,0.51
533,534,Josh Dasilva,Brentford,9,242,0,0,0.10+0.10,0.18+0.18,0.04,0.07
534,535,Daniel Chesters,West Ham,1,1,0,0,0,0,0.00,0.00
535,536,Tony Springett,Norwich,3,138,0,0,0.52+0.52,0.51+0.51,0.34,0.34
536,537,Alejandro Garnacho,Manchester United,2,11,0,0,0,0,0.00,0.00

In [39]:
del topScorers["№"]

In [53]:
topScorers.groupby(["Player", "G"])

In [56]:
# combining the csvs once cleaned and checked
combined = topScorers.merge(topScorers, how="outer", on=["Player", "G"])

In [57]:
combined.head(5)

,Player,Team_x,Apps_x,Min_x,G,A_x,xG_x,xA_x,xG90_x,xA90_x,Team_y,Apps_y,Min_y,A_y,xG_y,xA_y,xG90_y,xA90_y
0,Son Heung-Min,Tottenham,35,3051,23,7,16.99-6.01,7.85+0.85,0.50,0.23,Tottenham,35,3051,7,16.99-6.01,7.85+0.85,0.50,0.23
1,Mohamed Salah,Liverpool,35,2757,23,13,24.36+1.36,9.79-3.21,0.80,0.32,Liverpool,35,2757,13,24.36+1.36,9.79-3.21,0.80,0.32
2,Cristiano Ronaldo,Manchester United,30,2468,18,3,17.21-0.79,4.42+1.42,0.63,0.16,Manchester United,30,2468,3,17.21-0.79,4.42+1.42,0.63,0.16
3,Harry Kane,Tottenham,37,3229,17,9,20.69+3.69,9.82+0.82,0.58,0.27,Tottenham,37,3229,9,20.69+3.69,9.82+0.82,0.58,0.27
4,Sadio Mané,Liverpool,34,2833,16,2,16.83+0.83,5.27+3.27,0.53,0.17,Liverpool,34,2833,2,16.83+0.83,5.27+3.27,0.53,0.17